[defaults]
inventory = inventory/hosts.yml
roles_path = ~/.ansible/roles
vault_identity_list = scbitworx@/usr/local/bin/ansible-vault-client

[privilege_escalation]
become = false

[ssh_connection]
host_key_checking = false
